@import 'tailwindcss';

@theme {
  --color-primary: #555555;
  --font-pretendard: 'Pretendard';
}

@layer base {
  button {
    cursor: pointer;
  }
}

@layer utilities {
  .transition-width {
    transition-property: width;
  }

  .scrollbar-stable {
    scrollbar-gutter: stable;
  }

  .upload-loading {
    animation: upload-loading 1s linear infinite alternate;
  }

  .toast {
    animation: toast 0.3s forwards;
  }

  @media (max-width: 768px) {
    .max-md\:shadow-r {
      box-shadow: 50px 0 100px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

@layer components {
  .basic-btn {
    @apply border border-gray-300 px-[12px] py-[2px] rounded-[6px] hover:bg-gray-100 shadow-gray-200 shadow-md whitespace-nowrap;
  }

  .basic-red-btn {
    @apply border border-red-500 bg-red-500 text-white px-[12px] py-[2px] rounded-[6px] hover:bg-red-400 hover:border-red-400 shadow-red-200 shadow-md whitespace-nowrap;
  }

  .blue-btn {
    @apply border border-blue-500 bg-blue-500 text-white px-[12px] py-[3px] rounded-[6px] hover:bg-blue-400 hover:border-blue-400 shadow-blue-200 shadow-md whitespace-nowrap;
  }
}

@keyframes upload-loading {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0, -14px -12px, 14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0, -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}

@keyframes toast {
  0% {
    transform: translateY(30px);
    opacity: 0.1;
  }
  33% {
    transform: translateY(20px);
    opacity: 0.3;
  }
  66% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
}
